@import '@/assets/scss/_colors.scss';

@mixin button-submit {
    background: $cor2;
    color: $cor4;
    border-radius: 5px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;         
}