@import '@/assets/scss/_colors.scss';

@mixin input-search {
  font-size: 16px;  
  color: $cor2;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-width: 1px;
  border-color: $cor2;      
}